# Subu5 GRUB configuration
# This replaces Ubuntu branding in the boot menu

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

# Subu5 boot menu
menuentry "Start Subu5" {
    linux /casper/vmlinuz boot=casper quiet splash --
    initrd /casper/initrd
}

menuentry "Install Subu5" {
    linux /casper/vmlinuz boot=casper only-ubiquity quiet splash --
    initrd /casper/initrd
}

menuentry "Start Subu5 (safe graphics)" {
    linux /casper/vmlinuz boot=casper nomodeset quiet splash --
    initrd /casper/initrd
}

menuentry "Check disc for defects" {
    linux /casper/vmlinuz boot=casper integrity-check quiet splash --
    initrd /casper/initrd
}

menuentry "Test memory" {
    linux16 /boot/memtest86+.bin
}
